USE [BookMyCare]
GO
/****** Object:  Table [dbo].[admin_details]    Script Date: 09-08-2025 10:43:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin_details](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NULL,
	[email] [varchar](100) NULL,
	[password] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ambulance]    Script Date: 09-08-2025 10:43:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ambulance](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[owner_name] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[phone] [varchar](50) NULL,
	[vehicle_number] [varchar](50) NULL,
	[operating_area] [varchar](200) NULL,
	[ambulance_type] [varchar](50) NULL,
	[rc_photo] [varbinary](max) NULL,
	[insurance] [varbinary](max) NULL,
	[license] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nurse_bookings]    Script Date: 09-08-2025 10:43:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nurse_bookings](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[nurse_id] [int] NULL,
	[from_date] [date] NULL,
	[to_date] [date] NULL,
	[from_time] [time](7) NULL,
	[to_time] [time](7) NULL,
	[documents] [varchar](500) NULL,
	[creating_date] [datetime] NULL,
	[house_no] [varchar](100) NULL,
	[street] [varchar](100) NULL,
	[landmark] [varchar](200) NULL,
	[city] [varchar](200) NULL,
	[state] [varchar](200) NULL,
	[pincode] [varchar](50) NULL,
	[status] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nurse_details]    Script Date: 09-08-2025 10:43:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nurse_details](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NULL,
	[dob] [date] NULL,
	[email] [varchar](100) NULL,
	[phone] [varchar](50) NULL,
	[address] [varchar](500) NULL,
	[qualification] [varchar](100) NULL,
	[experience] [varchar](100) NULL,
	[license_number] [varchar](100) NULL,
	[specialization] [varchar](100) NULL,
	[photo_id] [varchar](500) NULL,
	[license_photo] [varchar](500) NULL,
	[photograph] [varchar](500) NULL,
	[password] [varchar](500) NULL,
	[status] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nurse_reviews]    Script Date: 09-08-2025 10:43:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nurse_reviews](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[nurse_id] [int] NULL,
	[name] [varchar](100) NULL,
	[rating] [int] NULL,
	[review_text] [varchar](200) NULL,
	[review_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[support]    Script Date: 09-08-2025 10:43:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[support](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NULL,
	[email] [varchar](100) NULL,
	[message] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_details]    Script Date: 09-08-2025 10:43:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_details](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NULL,
	[email] [varchar](100) NULL,
	[phone] [varchar](100) NULL,
	[password] [varchar](500) NULL,
	[profile_pic] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[admin_details] ON 

INSERT [dbo].[admin_details] ([id], [name], [email], [password]) VALUES (1, N'Subrata Bera', N'subratabera@gmail.com', N'123456')
SET IDENTITY_INSERT [dbo].[admin_details] OFF
GO
SET IDENTITY_INSERT [dbo].[nurse_bookings] ON 

INSERT [dbo].[nurse_bookings] ([id], [user_id], [nurse_id], [from_date], [to_date], [from_time], [to_time], [documents], [creating_date], [house_no], [street], [landmark], [city], [state], [pincode], [status]) VALUES (16, 11, 13, CAST(N'2025-08-06' AS Date), CAST(N'2025-05-10' AS Date), CAST(N'08:10:00' AS Time), CAST(N'14:30:00' AS Time), N'88536502-a9bd-4e62-b93a-4905e86536b8.pdf', CAST(N'2025-08-06T11:41:48.980' AS DateTime), N'Subrata Bera', N'Jotmuri, Daspur', N'Near jotmuri shitala mondir', N'Ghatal', N'West Bengal', N'721211', N'rejected')
INSERT [dbo].[nurse_bookings] ([id], [user_id], [nurse_id], [from_date], [to_date], [from_time], [to_time], [documents], [creating_date], [house_no], [street], [landmark], [city], [state], [pincode], [status]) VALUES (17, 11, 13, CAST(N'2025-08-20' AS Date), CAST(N'2025-08-25' AS Date), CAST(N'10:00:00' AS Time), CAST(N'18:00:00' AS Time), N'108aefaf-f905-469f-b118-c387640d2bc2.pdf', CAST(N'2025-08-06T11:43:54.360' AS DateTime), N'ABC', N'Daspur', N'Near XYZ shop', N'Daspur', N'West Bengal', N'721115', N'completed')
INSERT [dbo].[nurse_bookings] ([id], [user_id], [nurse_id], [from_date], [to_date], [from_time], [to_time], [documents], [creating_date], [house_no], [street], [landmark], [city], [state], [pincode], [status]) VALUES (18, 11, 11, CAST(N'1010-10-10' AS Date), CAST(N'2020-01-10' AS Date), CAST(N'10:10:00' AS Time), CAST(N'12:10:00' AS Time), N'5ffc3ee0-21e0-4073-a39e-52b8030431c4.jpg', CAST(N'2025-08-08T22:12:26.463' AS DateTime), N'12', N'12', N'12', N'12', N'12', N'121212', N'pending')
SET IDENTITY_INSERT [dbo].[nurse_bookings] OFF
GO
SET IDENTITY_INSERT [dbo].[nurse_details] ON 

INSERT [dbo].[nurse_details] ([ID], [name], [dob], [email], [phone], [address], [qualification], [experience], [license_number], [specialization], [photo_id], [license_photo], [photograph], [password], [status]) VALUES (5, N'Priya Kapoor', CAST(N'2002-12-15' AS Date), N'priya@gmail.com', N'7854125485', N'Kolkata', N'ANM', N'3', N'7854512548', N'Pediatric Nursing ', N'8a6c0fe4-a80c-4609-86e7-79e03a8014c9.pdf', N'edf24785-2f33-4790-a6aa-aa89f25d6491.pdf', N'6c9360f1-e029-413e-b1cb-de43446e5caf.jpg', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', N'approved')
INSERT [dbo].[nurse_details] ([ID], [name], [dob], [email], [phone], [address], [qualification], [experience], [license_number], [specialization], [photo_id], [license_photo], [photograph], [password], [status]) VALUES (6, N'Emily D''Souza', CAST(N'2003-12-15' AS Date), N'emily@gmail.com', N'8457854585', N'Midnapore - 721101', N'Bsc Nursing', N'8', N'548547585', N'ICU Nursing', N'692eb825-8a48-4aa6-a5f7-3af16bbecb7b.pdf', N'98676715-6f2d-4610-bf5a-f424830d7414.pdf', N'4a0eb93b-500d-4184-99ac-ed13975cb161.png', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', N'approved')
SET IDENTITY_INSERT [dbo].[nurse_details] OFF
GO
SET IDENTITY_INSERT [dbo].[nurse_reviews] ON 

INSERT [dbo].[nurse_reviews] ([ID], [nurse_id], [name], [rating], [review_text], [review_date]) VALUES (21, 13, N'Subrata Bera', 5, N'good', CAST(N'2025-07-12T23:13:05.563' AS DateTime))
INSERT [dbo].[nurse_reviews] ([ID], [nurse_id], [name], [rating], [review_text], [review_date]) VALUES (22, 12, N'Subrata Bera', 0, N'aa', CAST(N'2025-07-12T23:15:42.380' AS DateTime))
INSERT [dbo].[nurse_reviews] ([ID], [nurse_id], [name], [rating], [review_text], [review_date]) VALUES (23, 12, N'Subrata Bera', 0, N'good', CAST(N'2025-07-12T23:19:07.567' AS DateTime))
SET IDENTITY_INSERT [dbo].[nurse_reviews] OFF
GO
SET IDENTITY_INSERT [dbo].[support] ON 

INSERT [dbo].[support] ([id], [name], [email], [message]) VALUES (1, N'Kavita Das', N'kavita@gmail.com', N'hi')
INSERT [dbo].[support] ([id], [name], [email], [message]) VALUES (2, N'Kavita Das', N'kavita@gmail.com', N'hi')
INSERT [dbo].[support] ([id], [name], [email], [message]) VALUES (3, N'Kavita Das', N'kavita@gmail.com', N'vbn')
SET IDENTITY_INSERT [dbo].[support] OFF
GO
SET IDENTITY_INSERT [dbo].[user_details] ON 

INSERT [dbo].[user_details] ([ID], [name], [email], [phone], [password], [profile_pic]) VALUES (11, N'Subrata Bera  ', N'subrata@gmail.com', N'9609073653', N'637db87f7d7ac4fdf135ddc4c4ed86b57a7acec468f4c57f83301a960b429119', N'691ee5a5-6e81-4760-a710-5a1bb1bbd0fc.jpg')
SET IDENTITY_INSERT [dbo].[user_details] OFF
GO
ALTER TABLE [dbo].[nurse_bookings] ADD  DEFAULT (getdate()) FOR [creating_date]
GO
ALTER TABLE [dbo].[nurse_bookings] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[nurse_details] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[nurse_reviews] ADD  DEFAULT (getdate()) FOR [review_date]
GO
ALTER TABLE [dbo].[nurse_bookings]  WITH CHECK ADD  CONSTRAINT [FK_nurse_bookings_nurse_id] FOREIGN KEY([nurse_id])
REFERENCES [dbo].[nurse_details] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[nurse_bookings] CHECK CONSTRAINT [FK_nurse_bookings_nurse_id]
GO
ALTER TABLE [dbo].[nurse_bookings]  WITH CHECK ADD  CONSTRAINT [FK_nurse_bookings_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[user_details] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[nurse_bookings] CHECK CONSTRAINT [FK_nurse_bookings_user_id]
GO
